body {
    background-color: white;
    padding: 24px 156px;
    margin: 0;
}

.gallery {

    list-style: none;
    margin: 0 auto;
    padding-inline-start: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;


    max-width: 1128px;
}

.gallery-item {
    cursor: pointer;
    flex: 0 1 calc((100% - 48px) / 3);
}

.gallery-image {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.backdrop {
    background: rgba(46, 47, 66, 0.8);
    ;
    padding: 28px 164px;
}

.basicLigthbox__placeholder {
    margin: 0 auto;

}

.modal-image {
    margin: none;
    width: 1112px;
    height: 640px;
    display: block;
    object-fit: cover;
}